/* styles.css */

html, 

body {
    scroll-behavior: smooth;
    width: 1024px;
    margin: 0 auto; /* Pour centrer le contenu horizontalement */
     /* Définir la première image de fond */
     background-image: url(img1/backgroundff7.png);
     background-size: 2%;
     background-position: top;
     background-repeat: repeat; /* Répéter chaque image horizontalement et verticalement */
    background-position: center
}

 body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Largeur de l'overlay */
    height: 100vh; /* Hauteur de l'overlay */
    background-color: rgba(0, 0, 0, 0.9); /* Couleur semi-transparente (noir avec 50% d'opacité) */
    z-index: -1;
 }


 .cellule-grise {
    background-image: url('img1/backgroundcolonne.png');
    background-size: cover; /* Ajustez la taille de l'image pour remplir la cellule */
    background-position: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.notes {

font-size: medium;
justify-content: center;
text-align: justify;
font-family: 'Montserrat', sans-serif;

}


h1 {
    font-size: 30px; /* Taille de police pour h1 */
    font-weight: bold; /* Épaisseur de la police */
    margin-bottom: 60px;
    padding-top: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 25px; /* Taille de police pour h2 */
    font-weight: bold; /* Épaisseur de la police */
    margin-bottom: 30px;
    margin-top: 40px; /* Marge en bas */
    font-family: 'Montserrat', sans-serif;
}

/* Styles pour les paragraphes */
p {
    font-size: 20px; /* Taille de police pour les paragraphes */
    line-height: 1.5; /* Hauteur de ligne pour améliorer la lisibilité */
    margin-bottom: 30px; /* Marge en bas */
    margin-left: 25px; /* Marge à gauche des paragraphes */
    margin-right: 25px;
    font-family: 'Montserrat', sans-serif;
}


.cadre {
    position: relative;
    border: 6px solid rgb(255, 255, 255);
    padding-right: 100px;
    overflow-y: auto;
    scrollbar-width: none;
    margin: 0 auto;
    height: auto;
    width: auto;
    animation: clignotement 10s infinite;
    display: flex;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
}

.colonne-gauche {
    background-image: 
        url('img1/backgroundcolonne.png');
    background-repeat: repeat; /* Ne pas répéter les images */
    background-position: top;
    padding: 0px;
    width: 200px;
    margin-top: 164px;
    padding-top: 125px;
    font-size: small;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
; /* Ajustez la marge supérieure pour descendre la colonne sous la bannière */
}

.colonne-gauche a {
    color: white; /* Couleur du texte blanc pour les liens */
    padding-right: 10px;
}

.liste-chapitres { /* Supprime les puces */
    padding-left: 12px;
    list-style:decimal; /* Supprime les marges par défaut de la liste */
}

.liste-chapitres li {
    text-align: left; /* Aligne le texte à gauche */
    margin-left: 10px; /* Ajoute une marge à gauche pour l'espacement */
}


.fixed-text {
    position: fixed;
    padding-left: 0%;
    margin
    color: rgb(255, 255, 255)
}



.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 800px; /* Réduisez la largeur maximale du container */
    width: 100%;
    flex: 1; /* Utilisez tout l'espace disponible */
    margin-left: 35px; /* Ajoutez de la marge à gauche */
    margin-right: -60px; /* Ajoutez de la marge à droite */
    margin-top: 150px;
}

.texte-superpose {
    text-align: center; /* Centre le texte */
    margin-bottom: 20px;
    max-width: 100vw;
    margin: 0 auto;
}

.texte-superpose p {
    text-align: justify; /* Justifie le texte uniquement dans les paragraphes */
    word-spacing: 0px; /* Ajuste l'espacement entre les mots */
    margin-bottom: 20px;
    max-width: calc(100% - 20px);
    margin: 0 auto; /* Centre les paragraphes */
    font-size: large;
}

.texte-superpose img {
    width: 100%; /* Pour que l'image occupe toute la largeur du conteneur */
    display: block; /* Pour s'assurer que les marges fonctionnent correctement */
    margin-bottom: 10px; /* Espacement entre l'image et le paragraphe */
}


.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.separator {
    border-top: 1px solid black; /* Crée une bordure noire de 1 pixel de largeur sur le dessus */
    width: 50%; /* Définit la largeur de la séparation à 50% de la largeur du conteneur */
    margin: 0 auto; /* Centre la séparation horizontalement */
    margin-top: 60px;
    margin-bottom: 20px; /* Ajoute un espace en bas de la séparation */
}

img {
    max-width: 150%;
    max-height: 150%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;    
    margin-right: 40px;
    
}

table {
    border-collapse: collapse; /* Fusionner les bordures des cellules */
    width: 100%; /* Largeur totale du tableau */
}
th, td {
    border: 1px solid black; /* Bordures des cellules */
    padding: 8px; /* Espacement interne des cellules */
    text-align: center; /* Centrer le contenu des cellules */
}


#haut {
    background-image: url("img1/ff7banfinal.png");
    height: 160px;
    width: 100%; /* Ajustez la largeur en fonction de votre mise en page */
    position: absolute; /* Changez à absolute */
    z-index: 1; /* Assurez-vous que l'image de fond est en arrière-plan */

}